/* .button {
    background: #062b165b;
    width: 80%;
    padding: 15px 25px;
    font-family: sans-serif;
    color: white;
    transition: all ease-in-out 0.2s;
    margin-top: 25px;
  } */
  /* .flag {
    width: 100%;
    border-radius: 10%;
  } */
