.name{
  font-family:fontnew;
  color: rgb(0, 0, 0);
  font-size: 50px;
}

.continent{
  font-family:fontnew;
  color: rgb(3, 2, 2);
  font-size: 25px;
}

@font-face {
  font-family: "fontnew";
  src: url('../images-font/Heaters.otf');
}

.link{
    text-decoration: none;
}


.card:hover{
  box-shadow: 0px 0px 15px 15px #000000;
  -webkit-box-shadow: 0px 0px 15px 15px #0a0a0a;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  }