      
      .video {
        position: fixed;
        height: 900px;
        top:50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: -1;
      }
       

/* .bodyLanding{
        background-image: url("https://images2.alphacoders.com/661/66162.jpg");
        height: 800px;
        background-size: auto;
        padding: 8em;
        background-repeat: no-repeat;
        border-radius: 10px;
}  */

        /* ("https://images2.alphacoders.com/661/66162.jpg");     */
        /* "https://images7.alphacoders.com/386/386860.jpg" */
        /* ("https://images2.alphacoders.com/595/595519.jpg"); */
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
        /* background-position: 50% 50%; */


.title1{
        font-family: "fontnew" ;
        color: rgb(241, 241, 226);
        font-size:200px;
        justify-content: center;
        /* -webkit-text-stroke: 1px rgb(13, 14, 13); */

}

.title2{
        font-family: "fontnew" ;
        color: rgb(0, 0, 0);
        font-size:40px;
        justify-content: center;
        /* /* -webkit-text-stroke: #3068a36c; */
}


.land button{
      background: #3068a38e;
      border: none;
      padding: 15px 25px;
      font-family: sans-serif;
      color: white;
      margin-top: 25px;
      margin-left: 10px;
      transition: all ease-in-out 0.2s;
      border-radius: 3px;
}

.land button:hover {
        background: rgb(0, 0, 0);
      }    


@font-face {
        font-family: "fontnew";
        src: url('../images-font/Heaters.otf');

}
