.button{
    background: #2f659e00;
    border: none;
    padding: 1px;
    font-family: "fontnew2";
    font-size: 25px;
    /* color: rgb(0, 0, 0); */
    margin-bottom: 5px;
    /* transition: all ease-in-out 0.2s; */
    /* border-radius: 3px; */
  
  }

  .input {
    background: #fefeff73;
    width: 270px;
    font-size: 20px;
    font-family: monospace;
    margin-left: 90px;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
    transition: all ease-in-out 0.2s;

  }
  
  .input::placeholder {
    font-size: 20px;
  }

  
  .boton:hover {
    font-size: 20px;
    cursor: pointer;
  }
  