body {
    background-color:rgb(90, 106, 116);
    background-image: url("https://images.alphacoders.com/114/11433.jpg");
    background-position:center;  
    background-size: auto;
    padding: 2em;
    background-repeat: no-repeat;
}
/* .home {
    background-color: blueviolet;
} */