.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    justify-content: center;
    padding-top: 80px;
    background-color: rgba(20, 15, 15, 0.877);
    border-radius: 20px;
    margin-top: 6%;
    margin-left: -2%;
    margin-right: 2%;
}

/* .cards countries :hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;} */
