.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    justify-content: center;
    padding-top: 10px;
    background-color: rgba(150, 136, 136, 0.485);
    border-radius: 20px;
    margin-top: 1%;
    margin-left: -2%;
    margin-right: 2%;
}

/* .cards countries :hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;} */
/* .img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
} */