.bodynav {
 background-color: rgba(255, 255, 255, 0.324);
 padding-top: 15px;
 padding-bottom: 15px;
 border-radius: 10px;
 background-attachment: fixed;
 background-position:center;  
 margin-top: 1%;
 margin-left: -2%;
 margin-right: 2%;
}

.link button{
    background: #2f649e6c;
    border: none;
    padding: 15px 50px 10px;
    font-family: "fontnew2";
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    margin-left: 20px;
    transition: all ease-in-out 0.2s;
    border-radius: 3px;
    /* position: grid; */
}


@font-face {
    font-family: "fontnew9";
    src: url("../../components/images-font/Heaters.otf");
  }
  

.link button:hover {
    background: rgba(85, 106, 82, 0.735);
  }    