.bodynav {
 background-color: rgba(87, 155, 109, 0.726);
 width: 100%;
 padding-top: 40px;
 border-radius: 10px;
 position:absolute;
 background-attachment: fixed;
 background-position:center;  
  

}

.link button{
    background: #3068a36c;
    border: none;
    padding: 15px 25px 15px 25px;
    font-family: sans-serif;
    color: white;
    margin-bottom: 25px;
    /* margin-right: 25px; */
    margin-left: 5px;
    transition: all ease-in-out 0.2s;
    border-radius: 3px;
}

.link button:hover {
    background: rgb(0, 0, 0);
  }    